@import "tailwindcss";

@theme {
    /* Colores base */
    --color-bg: #ffffff;
    --color-surface: #f5f5f5;
    --color-surface-2: #fefaf1;
    --color-border: #ededed;

    /* Texto */
    --color-ink: #363738; /*  principal */
    --color-muted: #7d8184; /*  secundario */

    /* Para botones / color rojo del logo */
    --color-primary: #ea550c; /* rojo principal */
    --color-primary-hover: #e07575; /* hover rojo */

    /* Azul */
    --color-secondary: #1265a6; /* azul oscuro */
    --color-secondary-hover: #031b30; /* azul claro (hover) */

    /* Estados extra */
    --color-success: #00ff66; /* verde */
}
