@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    /* Colores base */
    --color-bg: #ffffff;
    --color-surface: #f5f5f5;
    --color-surface-2: #fefaf1;
    --color-border: #ededed;

    /* Texto */
    --color-ink: #363738; /*  principal */
    --color-muted: #7d8184; /*  secundario */

    /* Para botones / color rojo del logo */
    --color-primary: #ea550c; /* rojo principal */
    --color-primary-hover: #e07575; /* hover rojo */

    /* Azul */
    --color-secondary: #1265a6; /* azul oscuro */
    --color-secondary-hover: #031b30; /* azul claro (hover) */

    /* Estados extra */
    --color-success: #00ff66; /* verde */

    /* Fuentes */
    --font-main: "Poppins", sans-serif;
    --font-heading: "Inter", sans-serif;
}

body {
    font-family: var(--font-main);
}
